.tea{

  padding-left:250px;

  margin-left:150px;
  font-size:25px;
  font-weight: bold;

}
.h{
   font-size:48px;
color:  #4CAF50;
  font-weight: bold;
  margin-top:50px;position: inherit;
}
#main {
    width: 700px;
    height: 300px;
    border: 5px solid #c3c3c3;
    

}
#class{
padding-top:20px;
  margin-left:20px;
  font-size: 35px;
}
.class3
{
  margin-left:50px;

}
.class2{
  margin-left:50px;
  width : 140px !important;

}

.class1  {

   width : 140px !important;

  margin-left:80px;
}

.update{
  padding-left:250px;
padding-top: 50px;

}
