body {
height: 500px;
width:500px;
font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #2db577;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.total{
    background-color:#2db577;

}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
