

  <div class="container">
    <div class="total">

         <div class="row">
             <div class="col-md-4 col-md-offset-4">
                 <div class="login-panel panel panel-default">
                     <div class="panel-heading">
                         <h1 class="panel-title">Login</h1>
                     </div>
                     <div class="panel-body">
                         <form role="form" #f = "ngForm" (ngSubmit) = "onClickSubmit(f.value)" >
                             <fieldset>
                               <div class="imgcontainer">

                               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKpbrh_TZH-te20JFWP8M0IUkeD0sAEEdyRB0a2-dOs_v1XCvc"  width="300px" height="300px" class="avatar">
</div>
                                 <div class="form-group">
                                     <input class="form-control" placeholder="E-mail" name="UNAME" type="email" autofocus required ngModel>
                                 </div>
                                 <div class="form-group">
                                     <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                 </div>
                                 <div class="checkbox">
                                     <label>
                                         <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                     </label>

                                 </div>
                                 <!-- Change this to a button or input when using this as a form -->
                                 <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                             </fieldset>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
