
<H1> Alekta Pre School    </H1>
<br>

<div class="total">
  <h2>Registration Form</h2>
  <div class="row">
    <div class="col-75">
      <div class="one">
        <div class="container">
        <form action="/action_page.php">

          <div class="row">
            <div class="col-50">
              <h3>Owner Details</h3>
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Name ">
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input type="text" id="email" name="email" placeholder="xxx@example.com">
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input type="text" id="adr" name="address" placeholder="XX . Xth Street">
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input type="text" id="city" name="city" placeholder="State">

              <div class="row">
                <div class="col-50">

                </div>

              </div>
            </div>

            <div class="col-50">
              <h3>School Details</h3>
              <label for="fname"></label>

              <label for="cname">School Name </label>
              <input type="text" id="cname" name="cardname" placeholder="School Name ">
              <label for="adr"><i class="fa fa-address-card-o"></i> Scool Address 1</label>
              <input type="text" id="adr" name="address" placeholder=" School Address 1">
              <label for="adr"><i class="fa fa-address-card-o"></i>School Address 2</label>
              <input type="text" id="adr" name="address" placeholder=" School Address 2">
              <div class="row">
                 <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" placeholder="State">
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="10001">
                </div>
              </div>
            </div>

          </div>

          <input type="submit" value="Submitt" class="btn">
        </form>
      </div>
    </div>
<div>
</div>
