

<div id="mySidenav" class="sidenav">
  <a href="#" id="about">About</a>
  <a href="#" id="blog">Blog</a>
  <a href="#" id="projects">Projects</a>
  <a href="#" id="contact">Contact</a>
</div>


<div class="topnav" id="myTopnav">

  <a routerLink="/admindashboard" routerLinkActive="active" >Home</a>
  <a  routerLink="/sudheer" routerLinkActive="active" >Assign Teacher</a>
  <a routerLink="/getsection" routerLinkActive="active">Assign Students</a>
  <a  routerLink="/login" routerLinkActive="active" >Login</a>
  <a >Add Crew</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div id="home">
  <p> Welcome </p>

</div>

<router-outlet></router-outlet>
