<!--<div class="box">
<form #f = "ngForm" (ngSubmit) = "onSubmit(f.value)"  >

  <p>
    Welcome {{u[0].First_Name}}..! Set your password..!
  </p>
  Employee Id: {{u[0].Employee_Id}} <br>
  Email Id: {{u[0].Email_id}} <br>


Parent Name: {{user.P_Name}}<br><br>

New Password:<input type="password" name="New_Password"  ngModel><br><br>
Confirm Password:<input type="password" name="Confirm_Password"  ngModel><br><br>

<button type="submit"name="submit">Submit</button>
</form>

</div> -->
<H1> Alekta Pre School    </H1>

<div class="screen">
  <header><img src="https://imageshack.com/a/img922/7772/rJQQjB.png" width="1px" height="5px" alt="Icon representing a person"/></header>
  <div id="login_page">
    <h2>Welcome {{u[0].First_Name}}</h2>
    <h4>Set your password..! </h4>
    <form>
      <h5>
      Employee Id: {{u[0].Employee_Id}} <br>
      Email Id: {{u[0].Email_id}} <br>
    </h5>

    <div class="form_row"><i class="material-icons">lock_outline</i>
      <input type="password" id="login_password" placeholder="Password"/>
    </div>
      <div class="form_row"><i class="material-icons">lock_outline</i>
        <input type="password" id="login_password" placeholder="Reset Password"/>
      </div>

      <div class="form_row">
        <div class="form_button"     [routerLink]="['/admindashboard']" ><span>Sign In</span></div>
      </div>
    </form>
  </div>

</div>
