<table color='blue'>
  <thead>
    <th>filedownload</th>

    <th>teacherid</th>
    <th>schoolid</th>
    <th>class</th>
    <th>section</th>
   <th>subject</th>
   <th>title</th>
   <th>description</th>
   <th>file</th>
   <th>filetype</th>
   <th>date</th>


 </thead>

<tbody>
<tr *ngFor ="let a of sub" >
  <td><button class="btn btn-primary" (click)="downloadFile(a.id)">Download</button>
 </td>

  <td>{{a.teacherid}}</td>
  <td>{{a.schoolid}}</td>
  <td>{{a.class}}</td>
  <td>{{a.section}}</td>
  <td>{{a.subject}}</td>
  <td>{{a.description}}</td>
  <td>{{a.title}}</td>
  <td>{{a.file}}</td>
  <td>{{a.filetype}}</td>
  <td>{{a.date}}</td>


  </tr>
</tbody>
</table>
