/* You can add global styles to this file, and also import other style files */
body {
   background-image: url("/assets/d3.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   height:100%;
background-attachment: fixed;

font-size: 30px;
 }

 h1, h2 {
   text-align:center;
 }
H1{
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  font-style: italic;
  margin-top: 100px;

}

table, th, td {
  border: 1px solid black;
  font-size: 30px;
  padding: 10px;

}

a {
  font-size: 30px;

}



#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
    top:0;
    width: 100%;
    font-size: 20px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 26px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
